* {
  box-sizing: border-box;
}

html {
    display: block;
    color: -internal-root-color;
}

.calculator {
  width: 400px;
  background-color: black;
  color: white;
}

div {
  display: block;
}
.screen {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

.calc-button-row {
    display:flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

body {
    padding: 0;
    margin: 0;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.triple {
    width: 74.8%;
}

